body {
  margin: 0px;
  background-color: #434343;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: white;
  background-color: #FF3232;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  padding: 10px;
}

p {
  color: white;
}

#main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}